doctype strict
html
  head
     script(type='text/javascript')         
      parent.location.href = 'https://www.facebook.com/dialog/oauth?client_id=#{FB_KARMA_ID}&redirect_uri=#{redirect_uri}&scope=#{scope}';
  body