!!! strict
html
  head
    title Karma Racer, baby!
    script(type='text/javascript')
      var G_fbid = '#{fbid}'
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/dist/vendor_common.js')
    script(type='text/javascript', src='/dist/all_home.js')
    link(rel='stylesheet', href='/dist/all_home.css')
  body    
    .header
      div#fb-root
    div#mainContent      
      div#mapsContainer
        h2 Click on a map to play
        ul#maps
    img#loadingImage(src='/images/loading.gif')
