!!! strict
html(prefix="og: http://ogp.me/ns#")
  head
    title Karma Racer Race for your Soul !
    script(type='text/javascript')
      var G_fbid = '#{fbid}';
      var G_locale = '#{locale}';
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="apple-touch-icon", href="/images/logos/logo-114.png")
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/dist/vendor_common.js')
    script(type='text/javascript', src='/dist/all_home.js')
    link(rel='stylesheet', href='/dist/all_home.css')
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://karma.origamix.fr/")
    meta(property="og:image", content="https://karma.origamix.fr/images/logos/logo-128.png")
    meta(property="og:title", content="Karma Racer Race for your Sould !")
    script(type='text/javascript')
      //- Karma.setGoogleAnalytics();
  body
    .header
      #fb-root
    v#mainContent
      #mapsContainer
      #victoriesContainer
        h1#victoriesTitle
        #victories
    img#loadingImage(src='/images/loading.gif')
