!!! strict
html(prefix="og: http://ogp.me/ns#")
  head
    title Karma Racer Race for your Soul !
    script(type='text/javascript')
      var G_fbid = '#{fbid}';
      var G_locale = '#{locale}';
    link(rel="icon", type="image/png", href="/favicon.png")
    link(rel="apple-touch-icon", href="/images/logos/logo-114.png")
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/dist/vendor_common.js')
    script(type='text/javascript', src='/dist/all_home.js')
    link(rel='stylesheet', href='/dist/all_home.css')
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://karma.origamix.fr/")
    meta(property="og:image", content="https://karma.origamix.fr/images/logos/logo-128.png")
    meta(property="og:title", content="Karma Racer Race for your Sould !")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27170619-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
  body
    .header
      #fb-root
    v#mainContent
      #mapsContainer
      #victoriesContainer
        h1#victoriesTitle
        #victories
    img#loadingImage(src='/images/loading.gif')
