!!! strict
html
  head
    title Karma Racer, Login
    style
      body{
        font-family:"Trebuchet MS";
        text-align:center;
      }
      li{
        list-style:none;
      }
      a{
        margin:auto;
      }
      ul{
        margin:0px;
        padding:0px;
      }
  body
    div#fb-root
    h1 Karma Racer
    a(href="/auth/facebook")
      img(src="/images/connect-fb.png")  
    div
      b Why ?
      ul
        li Save your Score
        li Keep your Name
        li Change your Car
        li And More...
