!!! strict
html
  head
    title Karma Racer, baby!
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name="viewport", content="initial-scale=0.8, maximum-scale=0.8, user-scalable=0.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(href='http://fonts.googleapis.com/css?family=Armata', rel='stylesheet')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/libs/modernizr.min.js')
    script(type='text/javascript', src='/js/drawEngine/2DCanvas.js')
    script(type='text/javascript', src='/js/Karma.js')
    script(type='text/javascript', src='/js/googleanalytics.js')
    script(type='text/javascript')
      var G_mapName = '#{map}';
      var G_defaultDrawEngineType = '#{default_draw_engine}';
      var G_MOBILE_DEVICE = false;
      var G_fbid = '#{fbid}'
    script(type='text/javascript', src='/js/SocketManager.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src='/js/drawEngine/camera.js')
    script(type='text/javascript', src='/js/drawEngine/drawEngineFactory.js')
    script(type='text/javascript', src='/js/keyboard.js')
    script(type='text/javascript', src='/js/topBar.js')
    script(type='text/javascript', src='/js/GameInstance.js')
    script(type='text/javascript', src='/js/startup.js')
    script(type='text/javascript', src='/js/SteeringWheelController.js')
    script(type='text/javascript', src='/js/fb/login.js')      
    link(rel='stylesheet', href='/css/race.css')    
    link(rel='stylesheet', href='/css/chat.css')
    link(rel='stylesheet', href='/css/topBar.css')      
  body
    div#fb-root
    #botMenu
      input#addBot(type="button", value="Add bot")
      br
      input#removeBot(type="button", value="Remove bot")
    div(id='camera-debug')
    div(id='debug')
      #fps
      #high-score
    canvas#game-canvas
    #loadingtext Loading world...
    div#left_panel
      table.scores
        thead
          tr
            th Name
            th Score
            th Level
            th HighScore
        tbody#scores
    #chat
      div#chat_msgs_wrapper
        ul#chat_msgs
      div#chat_input_wrapper
        div#chat_input_label
        input#chat_input(type="text", autocapitalize="off", autocorrect="off", autocomplete="off")
