html
  head
    title Karma Racer, baby!
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/libs/modernizr.min.js')
    script(type='text/javascript', src='/js/drawEngine/2DCanvas.js')
    script(type='text/javascript')
      var G_serverHost = '#{server}';
      var G_defaultDrawEngineType = '#{default_draw_engine}';
      var G_MOBILE_DEVICE = false;
    script(type='text/javascript', src='/js/SocketManager.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src='/js/drawEngine/camera.js')
    script(type='text/javascript', src='/js/drawEngine/drawEngineFactory.js')
    script(type='text/javascript', src='/js/keyboard.js')
    script(type='text/javascript', src='/js/GameInstance.js')
    script(type='text/javascript', src='/js/startup.js')
    link(rel='stylesheet', href='/css/race.css')
    link(rel='stylesheet', href='/css/chat.css')
  body
    div(id='camera-debug')
    div(id='debug')
    canvas#game-canvas
    div#info
      | Tip: Press L or P to zoom
    div#loadingtext Loading world...
    div#player_name_div: input#player_name(placeholder="Your name")
    div#chat
      table
        tr#chat_msgs_wrapper
          td
            table: tr: td: #chat_msgs: ul
        tr#chat_input_wrapper
          td
            #chat_input_label_wrapper
              #chat_input_label_pad
              #chat_input_label
            input#chat_input(type="text", autocapitalize="off", autocorrect="off", autocomplete="off")
