!!! strict
html
  head
    title Karma Racer, Login
    link(href='http://fonts.googleapis.com/css?family=Armata', rel='stylesheet')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/Karma.js')
    #script(type='text/javascript', src='/js/home.js')
    #script(type='text/javascript', src='/js/fb/login.js')
    link(rel='stylesheet', href='/css/home.css')
  body
    div#fb-root
    a(href="/auth/facebook")
      img(src="/images/connect-fb.jpg")  
