html
  head
    title Karma Racer, Map Maker
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/libs/jquery-1.6.4.min.js')
    script(type='text/javascript', src='/js/libs/jquery-ui-1.8.16.custom.min.js')
    script(type='text/javascript')
      var SERVER_HOST = '#{server}';
    script(type='text/javascript', src='/js/libs/canvas2image.js')
    script(type='text/javascript', src='/js/drawEngine/drawEngineFactory.js')
    script(type='text/javascript', src='/js/drawEngine/camera.js')
    script(type='text/javascript', src='/js/MapMaker/mapmaker.js')
    script(type='text/javascript', src='/js/MapMaker/MapItem.js')
    script(type='text/javascript', src='/js/MapMaker/Map/Map.js')
    script(type='text/javascript', src='/js/MapMaker/Map/mouse.js')
    script(type='text/javascript', src='/js/MapMaker/Map/draw.js')
    script(type='text/javascript', src='/js/MapMaker/Map/keyboard.js')
    script(type='text/javascript', src='/js/MapMaker/Map/select.js')
    script(type='text/javascript', src='/js/MapMaker/Map/save.js')
    script(type='text/javascript', src='/js/MapMaker/Map/actions.js')
    link(rel='stylesheet', href='/css/mapmaker.css')
  body
    canvas#map-canvas
    div#fps
    ul#items
    ul#canvas-debug
    div#save-canvas Save Canvas
    div#save-map-node Save Map