html
  head
    title Karma Racer, Map Maker
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/libs/jquery-1.6.4.min.js')
    script(type='text/javascript', src='/js/libs/jquery-ui-1.8.16.custom.min.js')
    script(type='text/javascript', src='/js/drawEngine/drawEngineFactory.js')
    script(type='text/javascript', src='/js/drawEngine/camera.js')    
    script(type='text/javascript', src='/js/mapmaker.js')
    script(type='text/javascript', src='/js/mapmaker-keyboard.js')    
    link(rel='stylesheet', href='/css/mapmaker.css')
  body
    canvas#map-canvas
    ul#items
    ul#canvas-debug
