
  meta(http-equiv="Content-Language" , content="en_US")
  meta(name="robots" , content="index, follow")
  meta(name="rating" , content="General")
  meta(name="distribution" , content="Global")
  meta(name="Date-Creation-yyyymmdd" , content="20010611")
  meta(name="Date-Revision-yyyymmdd" , content="every days")
  meta(name="revisit-after" , content="2 days")
  meta(name="author" , content="Origamix Productions")
  meta(name="reply-to" , content="contact@origamix.fr")
  meta(name="owner" , content="contact@origamix.fr")
  meta(name="copyright" , content="Origamix Productions")

  meta(name="description" , content="Karma Racer, Race for your Karma")
  meta(name="keywords" , content="Karma Racer, Karma, Origamix, Car, Online, Game")  
  meta(property="og:title" , content="Karma Racer")
  meta(property="og:type" , content="link")
  meta(property="og:url" , content="http://karma.origamix.fr")
  meta(property="og:image" , content="http://karma.origamix.fr/images/karmaracer-logo.png")
  meta(property="og:site_name" , content="Karma Racer")
  meta(property="og:description" , content="Karma Racer, Race for your Karma")
