html
  head
    title Karma Racer, baby!
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name="viewport", content="width=960; height=180; initial-scale=0.5; maximum-scale=1.0; user-scalable=0;")
    meta(name="apple-mobile-web-app-capable", content="yes")
    script(type='text/javascript', src='/js/libs/jquery-1.6.4.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript', src='/js/libs/glMatrix-0.9.5.min.js')
    script(type='text/javascript', src='/js/libs/webgl-utils.js')
    script(type='text/javascript')
      var karmaracer_server = '#{server}';
    script(type='text/javascript', src='/js/connection.js')
    script(type='text/javascript', src='/js/mobile.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src='/js/drawEngine.js')
    script(type='text/javascript', src='/js/webgl.js')
    script(type='text/javascript', src='/js/keyboard.js')
    script(type='text/javascript', src='/js/game.js')
    link(rel='stylesheet', href='/css/race.css')
    link(rel='stylesheet', href='/css/karmaracer.min.css')    
    link(rel='stylesheet', href='/css/mobile.css')

  body    
    canvas#game-canvas
    #loadingtext Loading world...
    div(id='camera-debug')
    div(id='pad-left', class="pad", data-role="button") LEFT
    div(id='pad-right', class="pad") Right
    div(id='pad-top', class="pad") Top
    div(id='pad-bottom', class="pad") Bottom