html
  head
    title Karma Racer, baby!
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name="viewport", content="initial-scale=1.0; maximum-scale=2.0; user-scalable=0.0;")
    meta(name="apple-mobile-web-app-capable", content="yes")
    script(type='text/javascript', src='/js/libs/jquery-1.6.4.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/libs/underscore.js')
    script(type='text/javascript')
      var G_serverHost = '#{server}';
      var G_defaultDrawEngineType = '#{default_draw_engine}';
      var G_MOBILE_DEVICE = true;
    script(type='text/javascript', src='/js/SocketManager.js')
    script(type='text/javascript', src='/js/drawEngine/camera.js')
    script(type='text/javascript', src='/js/drawEngine/drawEngineFactory.js')
    script(type='text/javascript', src='/js/drawEngine/2DCanvas.js')   
    script(type='text/javascript', src='/js/game.js')
    script(type='text/javascript', src='/js/keyboard.js')
    script(type='text/javascript', src='/js/mobile.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src='/js/startup.js')

    link(rel='stylesheet', href='/css/race.css')
    link(rel='stylesheet', href='/css/karmaracer.min.css')
    link(rel='stylesheet', href='/css/mobile.css')
    link(rel="shortcut icon", href="/images/favicon.ico",type="image/x-icon")
    link(rel="apple-touch-icon", href="/images/karmaracer-logo.png")
  body(onorientationchange="updateOrientation();")
    canvas#game-canvas
    #loadingtext Loading world...
    div(id='camera-debug')
    div(id='touch-debug')
    div(id='pad-left', class="pad", data-role="button") DRIVE
    div(id='pad-top', class="pad") FORWARD