#right{
  right: 0px;
  top:0px;
  position: fixed;
  margin-right: 10px;
  text-align: right;
}


ul#keys li{
  list-style: none;
}

body{
  font-family: 'Armata';
  /*font-size: 12px;*/
}

input{
    /*font-family: 'Englebert';*/

}

#submit{
  display: none;
}

#playerName{
  width: 200px;
  height: 32px;
  line-height: 32px;
  font-size: larger;
  vertical-align: middle;

}

#mainContent {
  width: 900px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}