.pad{
  position:absolute;
  color:black;
  border:1px dotted black;
  text-align:center;
  z-index:505;
  background-color: white;
  opacity: 0.05;
  -moz-opacity: 0.05;
  filter:alpha(opacity=1);
  padding:0px;
  margin:0px;
}

#pad-left{
  height:75%;
  width:22%;
  left:0px;
  bottom:0px;
}

#pad-right{
  height:75%;
  width:20%;
  left:20%;
  bottom:0px;
}

#pad-forward{
  height:32%;
  width:40%;
  right:0px;
  bottom:34%;
}

#pad-backward{
  height:32%;
  width:40%;
  right:0px;
  bottom:0px;
}


#pad-zoom{
  height:25%;
  left:0px;
  top:0px;
}

#camera-debug{
  display:none;
  position: absolute;
  top:0px;
  left:0px;
}

#touch-debug{
  position: absolute;
  top:0px;
  right:0px;
}

#game-canvas{
  width:100%;
  height:100%;
}

body{
  -webkit-user-select: none;
  overflow:hidden;
}