body {
    font-family: 'Trebuchet MS';
    font-size  :12px;
}

#topBar{
opacity: 0.5;
}


#topBar:hover{
opacity: 1;
}

/*body,html {
width: 500px;
height: 400px;
}
*/
.hide {
    display: none;
}

.announce-red{
  color:red;
}

.announce-orange{
  color:orange;
}

.announce-green{
  color:green;
}

.announce-blue{
  color:blue;
}

#announce {
    height: 100px;
    line-height: 100px;
    left: 20%;
    top:100px;
    /*background-color: #87A585;*/
    background-color: rgba(238, 238 ,238, 0.5);
    position: absolute;
    text-align: center;
    width: 60%;
    margin: 0px auto;
    z-index: 9999;    
    /*opacity: 0.5;*/
    border-radius: 10px;
}

#announce.freeze{
    background-color: #eee;
/*    height: 300px;
    line-height: 300px;*/

}

#announce span{
    font-size: 32px;
    margin: 10px;
    /*color:white;*/
    /*opacity: 1;*/
    /*font-weight: bold;*/
}

#botMenu {
    left: 0px;
    position: absolute;
    top: 100px;
    z-index: 9999;
}

#botMenu input {
    text-align: center;
    width: 100px;
}

#SteeringWheelController.enable {
    border-color: blue;
}

#SteeringWheelController.enable div {
    background-color: blue;
}

#SteeringWheelController {
    border: 1px solid white;
    height: 100%;
    left: 0px;
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
}

#SteeringWheelControllerAcc {
    background-color: white;
    border-radius: 8px;
    height: 16px;
    opacity: 0.5;
    position: absolute;
    width: 16px;
}

html,body {
    height: 100%;
}

#loadingtext {
    color: white;
    font-size: 2em;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 200px;
    margin-left: -100px;    
}

/*#left_panel {
    bottom: 0px;
    padding: 5px;
    position: fixed;
    right: 0px;
}
*/


#score-table {
    color: white;

    padding: 0.5em;
    position: fixed;

    /*position: inherit;*/
/*    left: 0px;
    top:0px;*/
  /*-webkit-transition: 0.25s ease-in-out;*/
  /*-moz-transition: 5.25s ease-in-out;*/
  /*-o-transition: 0.25s ease-in-out;*/
  transition: width 1s linear 1s;    
}

table.scores tr.userCar{
    font-weight: bold;
}

table.scores thead tr th, tbody#scores tr td {
    padding: 0.5em 0.3em;
    font-size: 10px;
    color:black;
}



#score-table.default{
    width: 300px; 
    right: 0px;
    bottom: 0px;
    margin: 5px;
    background-color: rgba(255,255,255,0.3);
    transition: 0.25s ease-in-out;    
}


#score-table.big{
    width: 500px; 
    background-color: white;
    transition: 0.5s linear;    
    bottom:100px;
    right: 50%;
    margin-right: -250px;
    border-radius: 20px;
}

#score-table.big td, #score-table.big th{
    font-size: 12px;
    transition: 0.5s linear;    
}



#debug {
    color: white;
    position: absolute;
    top: 0px;
}

#game-canvas {
    background-color: #333;
    float: left;
    height: 100%;
    margin-right: 20px;
    width: 100%;
}

#right_panel {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20%;
  /*display  none*/
}

#info {
    height: 10%;
    left: 0;
    position: absolute;
    top: 150px;
}

body {
    margin: 0px;
    padding: 0px;
}

#camera-debug {
    color: white;
    font-size: 0.8em;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 20;
  /*background-color  black*/
}

#camera-debug ul {
    margin: 0px;
    padding: 0px;
}

#camera-debug li {
    list-style: none;
}
