#loadingtext {
  position:absolute;
  top:250px;
  left:150px;
  font-size:2em;
  color: white;
}

#left_panel{
  /*background-color: #eee;*/
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
}

ul#scores{
  color: white;
  margin: 0px;
  padding: 0px;
}
ul#scores li{
 list-style: none;
}


#debug{
  position: absolute;
  top: 200px;
  color: white;
}
/*
.info{
  position: absolute;
  min-height: 24px;
}
*/
/*#fps{
  position: fixed;
  top:300px;
}
*/
/*#socketps{
  position: fixed;
  top:200px;
}
*/
#game-canvas{
  width:100%;
  height:100%;
  background-color:#333;
  float: left;
  margin-right: 20px;
}

#right_panel {
  /*display: none;*/
  width: 20%;
  position:absolute;
  right:0px;
  top:0px;
  height: 100%;
  margin:0;
  padding:0;
}

#info {
  height: 10%;
  position: absolute;
  left: 0;
  top: 150px;
}


body{
	margin:0px;
	padding:0px;
}

#camera-debug{
  position: absolute;
  top:0px;
  left:0px;
  z-index:20;
  /*background-color: black;*/
  color:white;
  font-size:0.8em;
}

#camera-debug ul{
  margin:0px;
  padding: 0px;
}

#camera-debug li{
  list-style:none;
}
