body{margin-top:100px;}
.header{text-align:center;}
#topBar{top:0px;background-color:#eee;opacity:1;}
#loadingImage{position:fixed;left:50%;top:50%;margin-left:-16px;margin-top:-16px;}
#mainContent{width:100%;display:block;margin:0px auto;text-align:center;vertical-align:top;}
h1{text-align:center;}
#maps{margin:0px;padding:0px;background-color:#fefefe;vertical-align:top;}#maps li{vertical-align:middle;list-style:none;display:inline-block;margin:10px;}#maps li div.info{position:absolute;display:none;z-index:5000;background-color:rgba(238, 238, 238, 0.5);margin:5px;padding:5px;text-align:left;border-radius:5px;}
#maps li a{text-decoration:none;}#maps li a div{text-align:center;padding:5px;border:1px solid #eee;border-radius:5px;box-shadow:#eee 2px 2px 2px;min-height:180px;min-width:180px;}
#maps li a canvas{margin:5px;}
#maps li a div:hover{border-color:#999;background:#eee;}
#maps li:hover div.info{display:block;}
#maps .players{font-size:1em;}
.mapLink{font-size:2.0em;text-decoration:none;color:blue;}
.mapLink:hover{text-decoration:underline;}
.editLink{font-size:11px;}
#mapsContainer{vertical-align:top;}
#victories{width:300px;margin:0 auto;text-align:center;font-size:14px;}#victories td.car img{width:52px;}
