body{  
  margin: 0px;
  margin-top: 100px;
  padding: 0px;

  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.header {
  text-align: center;
}

#topBar{
    top:0px;
  background-color: #eee;
  opacity: 1;
}

#loadingImage{
  position: fixed;
  left: 50%;
  top:50%;
  margin-left: -16px;
  margin-top: -16px;
}

#mainContent {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px auto;
  text-align: center;
  vertical-align: top;

  // background-color: #eee;
}

h1 {
  text-align: center;

}

.center{
  position: fixed;
  left:50%;
  margin-left:-200px;
  width: 400px;

}

h2{
  top:60px;
  margin: 0px;
  .center;

}


#pcar1{
  background-image: url('/sprites/c1.png');
  // background-size: 96px 48px; 
  bottom: 48px;
}

#pcar2{
  background-image: url('/sprites/c2.png');
  bottom: 0px;
  // background-size: 82px 36px; 
}
#pcar3{
  background-image: url('/sprites/c3.png');
  bottom: 96px;
  // background-size: 72px 32px; 
}

.pcar{
  background-size: 72px 32px; 
  height:48px;
  // background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  // background-size: cover;
  background-repeat:no-repeat;
  background-position:0px 0px;

  position:fixed;
  left:0px;
  // min-width:1080px;
  opacity: 0.2;
  // width: 100%;
  // height: 64px;
}


#victoriesContainer{
  .center;
}


.editLink {
  font-size: 11px;
}


#victories {
  border: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  
  table{
    border-collapse: collapse;  
  }
  
  th, td{
    border: none;
  }

  td.car img{
    width: 52px;
    margin: 5px;
  }
  tr:hover td{
    background-color: #eee;
  }
}